APP_PORT=3000

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=eventizer

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=superultrasecret

TMDb_TOKEN=

ENV=dev

ALLOWED_HOSTS=http://localhost:4000

SMTP_HOST=mailcatcher
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=eventizer@eventizer.local
SMTP_PASS=''
MALL_FROM=Eventizer <no-reply@eventizer.local>

USER_ACTIVATION_URL=http://localhost:4000/activate
